@{
    ViewData["Title"] = "Home Page";
}

<div id="contact" class="fullscreen">
    <div class="container">
        <h1 class="text-center main-title">Contact & About</h1>
        <div class="row d-flex gx-3">
            <div class="col-md-4">
                <div class="box d-flex flex-column align-items-center">
                    <h5>Contact Us</h5>
                    <p class="text-center text-white mb-0">This website was written by [Your Name]</p>
                    <p class="text-center text-white mb-0">To get in contact please email [link to your email address]
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box d-flex flex-column align-items-center">
                    <h5>About Us</h5>
                    <p class="text-center text-white mb-0">This website provides an introduction to Artificial
                        Intelligence and was created as partial fulfillment of the assessment requirements of Web Design
                        and Programming at the University of Canberra. </p>
                    <p class="text-center text-white mb-0">This site is built on the ASP.NET CORE framework
                        and employs Bootstrap responsive design techniques.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box d-flex flex-column align-items-center">
                    <h5>Copyright</h5>
                    <p class="text-center text-white mb-0">All images used in this website were downloaded from <a
                            href="https://unsplash.com/">Unsplash</a>
                    </p>
                    <p class="text-center text-white mb-0">The icons for the footer from <a
                            href="https://fontawesome.com/">fontawesome</a>.</p>
                    <p class="text-center text-white mb-0">The Anton font used for headers from <a
                            href="https://fonts.google.com/">Google Fonts</a>.</p>
                    <p class="text-center text-white mb-0">The AI jobs dataset from <a
                            href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Insights</a>.
                    </p>
                    <p class="text-center text-white mb-0">The Python source from <a
                            href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>
                    </p>
                    <p class="text-center text-white mb-0">The Python web based on PyScript from <a
                            href="https://realpython.com/pyscript-python-in-browser/">Real Python</a>.</p>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>