@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<GenAITech.Models.GenAISite>

@{
    ViewData["Title"] = "Artificial Intelligence -AI";
}



<div class="container-fluid px-0">
    <div class="first-bg">
        <video loop muted autoplay="autoplay" preload="auto" id="myVideo">
            <source src="/assets/videos/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="first-content">
            <h1 class="main-title">Generative AI Technology</h1>
            <div class="container px-5 d-flex flex-column">
                <p class="text-white mx-5">Any time an AI technology is generating something on its own, it can be
                    referred to as
                    "generative AI." This umbrella term includes learning algorithms that make predictions
                    as well as those that can use prompts to autonomously write articles and paint pictures.
                </p>
                <p class="fst-italic text-white">Techopedia</p>
            </div>
        </div>
    </div>

    <div class="second-bg">
        <div class="container h-full pb-5">
            <div class="row py-5 border-bottom g-4">
                <div class="col-md-6">
                    <h1 class="title-yellow">GenAI Tools</h1>
                    <p class="text-white fs-5 mb-1">Generative AI tools refer to software or systems that use neural
                        network
                        techniques to process and comprehend input data, subsequently producing meaningful responses.
                    </p>
                    <div class="text-white">
                        <span class="fst-italic">Scribehow</span>
                        <a href="/Home/GenAI/#tools"
                            class="border border-white rounded-1 text-decoration-none text-white px-1 fs-6">Read
                            More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row w-100 gx-3">
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genai/bard_thumbnail.jpg"
                                alt="Google Bard">
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genai/midjourney_thumbnail.jpg"
                                alt="Midjourney">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container h-full pb-5">
            <div class="row py-5 border-bottom border-top g-4">
                <div class="col-md-6">
                    <div class="row w-100 gx-3">
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genai/ms_thumbnail.jpg"
                                alt="ms_thumbnail">
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genai/google_thumbnail.jpg"
                                alt="google_thumbnail">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="title-yellow">GenAI Organisations</h1>
                    <p class="text-white fs-5 mb-1">Generative AI Organizations like Microsoft, Google, Amazon and IBM
                        have
                        invested hundreds of millions of dollars and massive compute power to build the foundational
                        models on which services like ChatGPT and others depend.
                    </p>
                    <div class="text-white">
                        <span class="fst-italic">Gartner</span>
                        <a href="/Home/GenAI/#organizations"
                            class="border border-white rounded-1 text-decoration-none text-white px-1 fs-6">Read
                            More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container h-full pb-5">
            <div class="row py-5 border-bottom border-top g-4">
                <div class="col-md-6">
                    <h1 class="title-yellow">GenAI Applications</h1>
                    <p class="text-white fs-5 mb-1">
                        Text: GPT-3, LaMDA, LLaMA, BLOOM and GPT-4.<br />
                        Code: OpenAI Codex.<br />
                        Images: DALL-E, Midjourney and Stable Diffusion.<br />
                        Video: Make-A-Video (Meta Platforms).
                    </p>
                    <div class="text-white">
                        <span class="fst-italic">Wikipedia</span>
                        <a href="/Home/GenAI/#applications"
                            class="border border-white rounded-1 text-decoration-none text-white px-1 fs-6">Read
                            More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row w-100 gx-3">
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genai/chatgpt_thumbnail.jpg"
                                alt="chatgpt_thumbnail">
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genai/dalle_thumbnail.jpg"
                                alt="dalle_thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container h-full last pb-5">
            <div class="row py-5 border-bottom border-top g-4">
                <div class="col-md-6">
                    <div class="row w-100 gx-3">
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genaisites/pie.jpg" alt="pie">
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <img class="img-fluid border" src="./assets/images/genaisites/job.jpg" alt="job">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="title-yellow">AI Jobs</h1>
                    <p class="text-white fs-5 mb-1">
                        The prime source for jobs and talents in AI, ML, Data Science and Big Data: <a
                            class="text-secondary" href="https://ai-jobs.net/">Insights AI-Jobs</a><br />
                        Python source for tables and charts: <a class="text-secondary"
                            href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>.
                    </p>
                    <div class="text-white">
                        <a href="#" class="border border-white rounded-1 text-decoration-none text-white px-1 fs-6">Read
                            More</a>
                    </div>
                </div>
            </div>
            <h1 class="title-yellow text-center mt-5">List of Generative AI Websites</h1>
            @if (SignInManager.IsSignedIn(User))
            {
                <p class="text-center">
                    <a class="text-secondary" asp-controller="GenAISites" asp-action="Create">Click here to
                        add a new generative AI website.</a>
                </p>
            }
            else
            {
                <p class="text-center text-white">Please <a class="text-secondary" href="/Identity/Account/Login">login</a>
                    or <a class="text-secondary" href="/Identity/Account/Register">register</a> to add a new generative Al
                    website.</p>

            }
            @if (Model != null)
            {
                <div class="row g-2 mt-5">
                    @foreach (var item in Model)
                    {

                        <div class="col-6 col-sm-4 col-md-2">
                            <a class="text-decoration-none" href="/GenAISites/#@item.AnchorLink">
                                <div class="ai-block">
                                    <h5 class="text-center">@Html.DisplayFor(modelItem => item.GenAIName)</h5>
                                    <img src="/images/@item.ImageFilename" alt="">
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }

        </div>
    </div>

</div>
